@use "src/assets/styles/placeholders" as *;
@use "src/assets/styles/theme" as *;

:host {
  --text-left-offset: 16px;
  --text-right-offset: initial;

  width: 100%;
  position: relative;
  min-height: 600px;

  @media screen and (max-width: 960px) {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .background {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;

    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .text-content {
    @extend %paragraph;

    position: absolute;
    top: 100px;
    left: var(--text-left-offset);
    right: var(--text-right-offset);
    z-index: 1;
    width: min(500px, calc(100% - 32px));
    min-height: 400px;

    @media screen and (max-width: 960px) {
      position: initial;
      top: initial;
      left: initial;
      right: initial;
      padding: 16px;
    }

    padding: 16px 32px;
    box-sizing: border-box;
    border-radius: 8px;
    background-color: $background-color;
    display: flex;
    flex-direction: column;

    p {
      font-size: 20px;
    }
  }
}
