@use "src/assets/styles/placeholders" as *;
@use "src/assets/styles/theme" as theme;

:host {
    $scrollbar-width: 12px;
    $expanded-width: 100px;
    $scale-ratio: $scrollbar-width / $expanded-width;

    .parallax-container {
        max-height: 100vh;
        overflow: hidden;
        position: relative;
        display: flex;

        img {
            width: 100%;
            transition: 0.3s transform;
        }

        .scrollbar {
            width: $expanded-width;

            transform: scaleX($scale-ratio);

            background-color: white;
            display: flex;
            flex-direction: column;
            position: absolute;
            top: 0;
            right: 0;
            height: 100%;

            transform-origin: 100% 50%;
            transition: 0.1s transform linear;

            .image-wrapper {
                width: 100%;
                background-color: rgba(theme.$scrollbar-line-color, 0.5);
                border-bottom: 1px solid white;
                flex: 1;
                height: 100%;
                filter: brightness(0.95);
                overflow: hidden;

                .image {
                    background-repeat: no-repeat;
                    background-position: top center;
                    background-size: cover;
                    height: 100%;
                }

                &.selected {
                    background-color: rgba(theme.$scrollbar-line-color, 1);
                    filter: brightness(1.05);
                }

                &:hover {
                    filter: brightness(1.05);

                    .image {
                        transform: scale(1.2);
                    }
                }
            }

            &:hover,
            &:focus-within {
                transform: scaleY(1);
            }

            &:not(:hover):not(:focus-within) {
                .image-wrapper {
                    .image {
                        background-image: initial !important;
                    }
                }
            }
        }
    }
}
