@use "src/assets/styles/placeholders" as *;

:host {
  .left-content {
    height: 100%;
    margin: 0 16px;

    @media screen and (min-width: 767px) {
      width: calc(50% - 32px);
      position: sticky;
      top: 0;
      height: 0;
      min-height: 100vh;
      margin: 0 32px;
    }

    display: grid;

    grid-template-areas:
      "nav   nav"
      "mimg  mimg"
      "mimg  mimg";


    @media screen and (max-width: 1439px) {
      grid-template-areas:
        "nav   nav"
        "mimg  mimg"
        "mimg  mimg";

      .main-image-wrapper {
        display: none;
      }
    }

    grid-template-columns: 1fr 300px;
    grid-template-rows: 128px 730px 1fr;
    gap: 16px;

    .nav-wrapper {
      grid-area: nav;
    }

    .main-image-wrapper {
      display: flex;
      justify-content: space-between;
      position: relative;

      grid-area: mimg;
      ::ng-deep img {
        max-height: calc(100% - 32px);
        max-width: 100%;
        flex-basis: 60%;
      }

      .decoration-mark {
        display: flex;
        align-self: center;
        width: 50px;
        height: 120px;
        background-color: #dbab3f;

        @media only screen and (max-width: 1125px) {
          display: none;
        }
      }

      .vertical-decoration {
        display: flex;
        align-self: center;
        transform: rotate(180deg);
        font-weight: 700;
        writing-mode: tb-rl;
        font-family: SortsMillGoudy;

        @media only screen and (max-width: 1024px) {
          display: none;
        }
      }
    }

    .text-block {
      grid-area: text;
      grid-column: span 2;
      ::ng-deep {
        p {
          @extend %paragraph;

          &:first-of-type {
            @extend %capital-letter;
          }
        }
      }
    }

    .main-title {
      position: absolute;
      left: 84px;
      top: 0;

      @extend %paddingBorderBottom;
      @extend %title;
      font-weight: bold;
      margin-bottom: 4px !important;

      @media screen and (max-width: 767px) {
        font-size: 64px;
      }
    }
  }

  .right-content {
    .image-wrapper {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

      gap: 32px;
      padding: 16px;

      ::ng-deep {
        img {
          width: 100%;
        }
      }
    }

    @media screen and (min-width: 767px) {
      margin-left: calc(50% + 32px);
      margin-top: -100vh;
      width: calc(50% - 32px);
      .image-wrapper {
        padding: 32px 64px;
      }
    }
  }

  .bottom-page-wrapper {
    display: flex;
    flex-direction: column;
    grid-column: span 2;
    padding-bottom: 16px;
    height: 100%;
    justify-content: end;

    .main-page-description {
      display: flex;
      gap: 48px;

      .text-description {
        ::ng-deep {
          p {
            @extend %elipsis;
            @extend %paragraph;
            font-family: SortsMillGoudy;
            color: #a1a3a6;
            margin: 0px !important;
          }
        }
      }

      text-title {
        p {
          @extend %elipsis;
          font-family: SortsMillGoudy;
          font-weight: 700;
        }
      }
      @media only screen and (max-width: 1024px) {
        justify-content: center;
        padding: 24px;
      }
    }

    .bottom-line-decoration {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-right: 24px;

      .bottom-line-line {
        width: 65%;
        height: 2px;
        background-color: black;
      }
      .bottom-line-url {
        p {
          font-family: SortsMillGoudy;
          font-weight: 700;

          ::ng-deep {
            div {
              @extend %elipsis;
            }
          }
        }
      }
    }
  }

  .break-every-word {
    word-spacing: 9999999px;
  }
}
