<div class="main-wrapper">
  <div class="left-content">
    <div class="nav-wrapper">
      <app-page-navbar></app-page-navbar>
    </div>

    <div class="main-image-wrapper">
      <div class="decoration-mark"></div>

      <h1 class="main-title break-every-word">
        {{ title }}
      </h1>
      <ng-content select="[mainImage]"></ng-content>

      <div class="vertical-decoration">
        <p class="vertical-text">
          <ng-content select="[pageDividerStart]"></ng-content>
          &bull;
          <ng-content select="[pageDividerEnd]"></ng-content>
        </p>
      </div>
    </div>
  </div>

  <div class="right-content">
    <div class="image-wrapper">
      <ng-content select="[rightImage]"></ng-content>
    </div>

    <div class="bottom-page-wrapper">
      <div class="main-page-description">
        <div class="text-item">
          <div class="text-title">
            <ng-content select="[infoLocation]"></ng-content>
          </div>
          <div class="text-description">
            <ng-content select="[infoAddress]"></ng-content>
            <ng-content select="[infoNumber1]"></ng-content>
            <ng-content select="[infoNumber2]"></ng-content>
          </div>
        </div>
      </div>

      <div class="bottom-line-decoration">
        <div class="bottom-line-line"></div>
        <div class="bottom-line-url">
          <p>
            <ng-content select="[infoUrl]"></ng-content>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
