@use "/src/assets/styles/theme.scss" as *;

:host {
  .contact-info {
    background-color: $background-color;
    font-family: $text-font;
    font-size: 20px;
    border-radius: 8px;
    padding: 16px;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    gap: 16px;

    @media screen and (max-width: 959px) {
      width: 100%;
      .title {
        display: none;
      }
    }

    @media screen and (min-width: 960px) {
      box-shadow: 1px 1px 5px #ccc, -1px -1px 5px #ccc;
      position: absolute;
      left: calc(50% - 400px);
      top: calc(50% - 200px);
      width: 320px;
      height: 400px;
      z-index: 2;
    }

    .contact-info-item {
      display: flex;
      gap: 8px;

      @media screen and (min-width: 960px) {
        flex-direction: column;
        .icon {
          display: none;
        }

        .value {
          font-weight: 600;
        }
      }

      @media screen and (max-width: 959px) {
        flex-direction: row;
        align-items: center;
        .label {
          display: none;
        }
      }
    }
  }
}
