<div class="contact-info">
    <h1 class="main-title">Kontakt</h1>
    <a class="contact-info-item" href="https://goo.gl/maps/dM1xmXa2aoHVKoGR7" target="_blank">
        <img class="icon" src="/assets/images/icons/place.svg">
        <span>Beogradska 45/10, 11000 Beograd</span>
    </a>
    <a class="contact-info-item" href="tel:+38160770634" target="_blank">
        <img class="icon" src="/assets/images/icons/phone.svg">
        <span>060/770-634</span>
    </a>
    <a class="contact-info-item" href="https://www.facebook.com/vencanice.studio.luna" target="_blank">
        <img class="icon" src="/assets/images/icons/facebook.png">
        <span>Vencanice studio Luna</span>
    </a>
    <a class="contact-info-item" href="https://www.instagram.com/vencanice_studioluna/" target="_blank">
        <img class="icon" src="/assets/images/icons/instagram.png">
        <span>@vencanice_studioluna</span>
    </a>
</div>