<div class="footer-wrapper">
    <div class="footer-icons">
        <a href="https://www.facebook.com/vencanice.studio.luna" target="_blank">
            <img src="/assets/images/icons/facebook.webp" alt="facebook">
        </a>
        <a href="https://www.instagram.com/vencanice_studioluna/" target="_blank">
            <img src="/assets/images/icons/instagram.webp" alt="instagram">
        </a>
        <a href="tel:+381600770634" target="_blank">
            <img src="/assets/images/icons/phone.svg" alt="contact">
        </a>
    </div>

    <div class="luna-title">
        Studio Luna 2022
    </div>
</div>
