@import "scrollbar";
:host {
  $card-height-lg: 256px;
  $card-height-sm: 160px;

  .card-group-container {
    display: flex;
    overflow-y: hidden;
    overflow-x: auto;
    scroll-behavior: smooth;

    .separator {
      width: 0;
      margin-top: 16px;
      margin: 16px 16px 16px;
      height: calc(#{$card-height-lg} - 32px);
      min-height: calc(#{$card-height-lg} - 32px);
      max-height: calc(#{$card-height-lg} - 32px);
      border-right: 1px solid #ccc;
      &:last-child {
        display: none;
      }

      @media screen and (max-width: 960px) {
        height: calc(#{$card-height-sm} - 32px);
        min-height: calc(#{$card-height-sm} - 32px);
        max-height: calc(#{$card-height-sm} - 32px);
      }
    }
  }
}
