@import "scrollbar";
:host {
  .card-group-container {
    display: flex;
    padding: 16px;
    background-color: white;
    border: 1px solid #ccc;
    overflow-y: hidden;
    overflow-x: scroll;
    scroll-behavior: smooth;

    luna-brand-card {
      min-width: 256px;
      flex: 1;
    }

    :not(:last-child) {
      margin-right: 16px;
    }
  }
}
