:host {
  display: flex;
  justify-content: center;
  overflow-y: hidden;
  overflow-x: auto;
  scroll-behavior: smooth;
  gap: 16px;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }

  @media screen and (max-width: 599px) {
    overflow-x: auto;
    justify-content: initial;

    ::ng-deep .card {
      padding: initial;
      overflow: hidden;
      min-width: 100%;
      height: 200px;
    }
  }
}
