<app-st-patrick-template title="Kolekcija St. Patrick" [galleryImages]="images" [cards]="cards">
    <p text3a>
      From youthful boho styles to chic and simple gowns, and figure-hugging mermaid cuts, The House of St.Patrick has a dream dress for you!
    </p>
    <p text3b>
      From youthful boho styles to chic and simple gowns, and figure-hugging mermaid cuts, The House of St.Patrick has a dream dress for you!
    </p>
</app-st-patrick-template>
<!-- <luna-phone-ribbon></luna-phone-ribbon> -->
