<app-st-patrick-template
  title="Kolekcija St. Patrick"
  [galleryImages]="images"
  [cards]="cards"
>
  <p text3a>
    St. Patrick je prepoznatljiv po različitim krojevima gde svaka buduća mlada,
    može prepoznati svoj stil i odlučiti se za model po svom ukusu. Od svedenih
    do bogate čipke i najraskosnijih modela- izbor je na vama.
  </p>
  <p text3b>
    Kao deo grupe Pronovias, St. Patrick predstavlja kolekciju zapanjujućih
    klasičnih, ali modernih haljina visokog kvaliteta, nadovezujući se na
    ogromno iskustvo i poreklo brenda.
  </p>
</app-st-patrick-template>
<!-- <luna-phone-ribbon></luna-phone-ribbon> -->
