@use "src/assets/styles/placeholders" as *;

:host {

    .ornament {
        position: fixed;
        left: 50%;
        transform: translateX(-50%);
        z-index: -1;
        width: 80vw;

        img {
            width: 100%;
        }
    }

    .ornament-bottom-right {
        right: 0;
    }

    .ornament-bottom-left {
        left: 0;
        transform: rotateY(180deg);
    }

    .ornament-bottom-right,
    .ornament-bottom-left {
        position: fixed;
        z-index: -1;
        bottom: 0;

        img {
            width: 300px;
        }

        @media screen and (max-width: 1439px) {
            display: none;
        }
    }

    .left-content {
        height: 100%;
        margin: 0 16px;

        @media screen and (min-width: 767px) {
            width: calc(50% - 64px);
            position: sticky;
            top: 0;
            height: 0;
            min-height: 100vh;
            margin: 0;
            padding: 0 32px;
        }

        display: grid;

        grid-template-areas:
            "nav   nav"
            "title title"
            "text text"
            "mimg mimg";

        @media screen and (max-width: 1439px) {
            grid-template-areas:
                "nav   nav"
                "title title"
                "text text"
                "mimg mimg";

            .main-image-wrapper {
                display: none;
            }
        }

        grid-template-columns: 1fr 300px;
        grid-template-rows: 90px 90px 1fr 1fr;
        gap: 16px;

        .nav-wrapper {
            grid-area: nav;
        }

        .main-image-wrapper {
            grid-area: mimg;
            overflow-x: hidden;

            display: flex;
            justify-content: space-evenly;

            ::ng-deep img {
                box-shadow: 1px 1px 5px #ccc8, -1px -1px 5px #ccc8;

                max-height: calc(100% - 32px);
                max-width: 100%;
            }
        }

        .text-block {
            grid-area: text;
            ::ng-deep {
                p {
                    @extend %paragraph;

                    &:first-of-type {
                        @extend %capital-letter;
                    }
                }
            }
        }

        .main-title {
            display: flex;
            align-items: center;
            justify-content: center;

            grid-area: title;
            margin: 0;
            white-space: nowrap;

            @extend %title;

            @media screen and (max-width: 767px) {
                font-size: 64px;
            }
        }
    }

    .right-content {
        .image-wrapper {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

            gap: 32px;
            padding: 16px;

            ::ng-deep {
                img {
                    box-shadow: 1px 1px 5px #ccc8, -1px -1px 5px #ccc8;
                    width: 100%;
                }
            }
        }

        @media screen and (min-width: 767px) {
            margin-left: 50%;
            margin-top: -100vh;
            width: 50%;
            .image-wrapper {
                padding: 32px;
            }
        }
    }
}
