<div class="main-wrapper">

    <div class="nav-wrapper">
        <app-page-navbar></app-page-navbar>
    </div>

    <h1 class="main-title">
        {{title}}
    </h1>

    <div class="text-block-wrapper first" [style.backgroundPositionX]="trigerred ? '0' : '-100vw'">
        <div class="text-block">
            <ng-content select="[text1]"></ng-content>
        </div>
    </div>

    <div class="text-block-wrapper second" [style.backgroundPositionX]="trigerred ? '0' : '-100vw'">
        <div class="text-block">
            <ng-content select="[text2]"></ng-content>
        </div>
    </div>

    <div class="slider-title-text">
        <h2>
            Odaberite pravu venčanicu za Vas
        </h2>
    </div>

    <luna-horizontal-image-slider [galleryImages]="galleryImages"></luna-horizontal-image-slider>

    <div class="text-block-wrapper third" [style.backgroundPositionX]="trigerred ? 'center' : '-100vw'">
        <div class="text-block">
            <ng-content select="[text3a]"></ng-content>
        </div>
        <div class="text-block">
            <ng-content select="[text3b]"></ng-content>
        </div>
    </div>

    <luna-page-footer></luna-page-footer>
</div>