<div class="ornament">
    <img src="/assets/images/ornaments/orn-1.svg">
</div>

<div class="ornament-bottom-left">
    <img src="/assets/images/ornaments/orn-2.svg">
</div>

<div class="ornament-bottom-right">
    <img src="/assets/images/ornaments/orn-2.svg">
</div>

<div class="main-wrapper">
    <div class="left-content">

        <div class="nav-wrapper">
            <app-page-navbar></app-page-navbar>
        </div>

        <h1 class="main-title">
            {{title}}
        </h1>

        <div class="main-image-wrapper">
            <ng-content select="[mainImage]"></ng-content>
        </div>

        <div class="text-block">
            <ng-content select="[text]"></ng-content>

        </div>

    </div>

    <div class="right-content">

        <div class="image-wrapper">
            <ng-content select="[rightImage]"></ng-content>
        </div>

    </div>
</div>