<div class="page">
    <app-page-navbar></app-page-navbar>
    <div class="page-content">
        <div class="image-area top-image"></div>
        <div class="text-area top-text">
            <p>In vel metus quis purus molestie pretium ac vitae nisi. Sed auctor viverra ante, eu ullamcorper magna semper eu. Nullam ac lorem nec felis fringilla ultricies eu et erat. Vestibulum non mauris nec tortor congue facilisis.</p>
            <p>In vel metus quis purus molestie pretium ac vitae nisi. Sed auctor viverra ante, eu ullamcorper magna semper eu. Nullam ac lorem nec felis fringilla ultricies eu et erat. Vestibulum non mauris nec tortor congue facilisis. Cras eleifend tempus porttitor. Donec a tincidunt massa.</p>
        </div>
        <div class="image-area bottom-image"></div>
        <div class="text-area bottom-text">
            <p>Nulla finibus ullamcorper dolor volutpat molestie. Cras in ante arcu. In hac habitasse platea dictumst. Nullam sagittis iaculis venenatis. Pellentesque malesuada, dui et laoreet luctus, quam lacus euismod justo, vitae aliquet elit elit ac risus.</p>
            <p>Nulla finibus ullamcorper dolor volutpat molestie. Cras in ante arcu. In hac habitasse platea dictumst. Nullam sagittis iaculis venenatis. Pellentesque malesuada, dui et laoreet luctus, quam lacus euismod justo, vitae aliquet elit elit ac risus.</p>
        </div>
    </div>
</div>