@use "/src/assets/styles/theme.scss" as *;
@use "/src/assets/styles/placeholders.scss" as *;

:host {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: auto;

  width: 100%;
  height: 100%;

  .page {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;

    app-page-navbar {
      display: block;
      flex: 0 0;
      padding: 0 16px;
    }

    .page-content {
      display: flex;
      flex-direction: column;
      gap: 32px;
      width: 100%;

      .main-title {
        @extend %title;
        width: 100%;
        margin: 0;
        text-align: center;

        @media screen and (max-width: 1023px) {
          font-size: 42px;
        }
      }
    }
  }
}
