<app-nicole-couture-template
  title="Kolekcija Nicole Couture"
  [galleryImages]="images"
  [cards]="cards"
>
  <p text3a>
    At only 24 years old, Nicole Cavallo, Nicole Milano's creative director, has
    become a role model for young brides who want to make their dream come true
    with a charming, timeless dress that also reflects their personality
  </p>
  <p text3b>
    At only 24 years old, Nicole Cavallo, Nicole Milano's creative director, has
    become a role model for young brides who want to make their dream come true
    with a charming, timeless dress that also reflects their personality
  </p>
</app-nicole-couture-template>
<!-- <luna-phone-ribbon></luna-phone-ribbon> -->
