<app-nicole-couture-template title="Kolekcija Nicole Couture">
  <img mainImage src="/assets/images/nicole-couture/nc1.webp" />
  <img rightImage src="/assets/images/nicole-couture/nc6.webp" />
  <img rightImage src="/assets/images/nicole-couture/nc7.webp" />
  <img rightImage src="/assets/images/nicole-couture/nc8.webp" />
  <img rightImage src="/assets/images/nicole-couture/nc2.webp" />
  <img rightImage src="/assets/images/nicole-couture/nc6.webp" />
  <img rightImage src="/assets/images/nicole-couture/nc7.webp" />
  <img rightImage src="/assets/images/nicole-couture/nc8.webp" />
  <img rightImage src="/assets/images/nicole-couture/nc11.webp" />

  <span pageDividerStart>DEC 2021</span>
  <span pageDividerEnd>JAN 2022</span>

  <p infoLocation>Zeleznik</p>
  <p infoAddress>Stevana filipovica 26</p>
  <p infoNumber1>011 000 000</p>
  <p infoNumber2>060 000 000</p>
  <span infoUrl>WWW.LUNA.COM</span>
</app-nicole-couture-template>
