<div class="main-wrapper">

    <div class="nav-wrapper">
        <app-page-navbar></app-page-navbar>
    </div>

    <h1 class="main-title">
        {{title}}
    </h1>

    <luna-content-card class="odd" (onScrollActivate)="activateCard(0)" [class.active]="activated[0]" [card]="cards[0]">
    </luna-content-card>

    <luna-content-card class="even" (onScrollActivate)="activateCard(1)" [class.active]="activated[1]"
        [card]="cards[1]">
    </luna-content-card>

    <div class="slider-title-text">
        <h2>
            Odaberite pravu venčanicu za Vas
        </h2>
    </div>

    <luna-horizontal-image-slider [galleryImages]="galleryImages"></luna-horizontal-image-slider>

    <div class="text-block-wrapper third" (onScrollActivate)="activateCard(2)"
        [style.backgroundPositionX]="activated[2] ? 'center' : '-100vw'">
        <div class="text-block">
            <ng-content select="[text3a]"></ng-content>
        </div>
        <div class="text-block">
            <ng-content select="[text3b]"></ng-content>
        </div>
    </div>

    <luna-page-footer></luna-page-footer>
</div>