<nav>

    <div class="logo">
        <a [routerLink]="['/']">
            <img src="assets/images/logo.png">
        </a>
    </div>

    <ul class="nav-items">
        <li [class.selected]="selectedModule === 'dress'">
            <div class="dropdown" tabindex="0">
                <span>Haljine</span>
                <div class="dropdown-items">
                    <ng-container *ngFor="let creatorCard of creatorCards">
                        <luna-navbar-creator-card class="card small" [creatorCard]="creatorCard"
                            [routerLink]="creatorCard.path">
                        </luna-navbar-creator-card>
                    </ng-container>
                </div>
            </div>
        </li>
        <li [class.selected]="selectedModule === 'about'">
            <a routerLinkActive="active" [routerLink]="['/about']"> O Nama </a>
        </li>
        <li [class.selected]="selectedModule === 'contact'">
            <a [routerLink]="['/contact']"> Kontakt </a>
        </li>
    </ul>

</nav>