<nav>

    <div class="logo">
        <a [routerLink]="['/']">
            <img src="assets/images/logo.png">
        </a>
    </div>

    <ul class="nav-items">
        <li>
            <div class="dropdown" tabindex="1">
                <span>Haljine</span>
                <div class="dropdown-items">
                    <a [routerLink]="['/la-sposa']"> La Sposa </a>
                    <a [routerLink]="['/la-sposa']"> N. Coureti </a>
                    <a [routerLink]="['/la-sposa']"> N. Coureti </a>
                    <a [routerLink]="['/la-sposa']"> N. Coureti </a>
                    <a [routerLink]="['/la-sposa']"> N. Coureti </a>
                    <a [routerLink]="['/la-sposa']"> N. Coureti </a>
                </div>
            </div>
        </li>
        <li>
            <a [routerLink]="['/about']"> O Nama </a>
        </li>
        <li>
            <a [routerLink]="['/contact']"> Kontakt </a>
        </li>
    </ul>

</nav>