<app-nicole-couture-template
  title="Kolekcija Nicole Couture"
  [galleryImages]="images"
  [cards]="cards"
>
  <p text3a>
    Sa samo 24 godine, Nicole Cavallo, kreativna direktorka Nicole Milano,postala je
    uzor mladam koje žele da ostvare svoj san sa šarmantnom, vanvremenskom haljinom koja takođe odražava njihovu ličnost.
  </p>
  <p text3b>
    Nicole Cavallo je inspirisana vrednostima kompanije i kreativnošću Alesandre Rinaudo.
    Uspela je da ponovo osmisli modni stil za mlade spajajući karakterističnu tradiciju brenda sa modernim,
    trendi detaljima.
  </p>
</app-nicole-couture-template>
<!-- <luna-phone-ribbon></luna-phone-ribbon> -->
