@use "src/assets/styles/theme" as *;
@import url("assets/styles/fonts.scss");
@import "src/assets/styles/scrollbar";
@import "src/assets/styles/shared";

body {
  margin: 0;
  padding: 0;
  background-color: $background-color;
  max-width: 1920px;
  margin: auto;
  min-height: 100vh;
  width: 100%;
  overscroll-behavior: none;
  overflow-x: hidden;
}
