@use "src/assets/styles/theme" as *;
@import url("assets/styles/fonts.scss");
@import "src/assets/styles/scrollbar";

html {
  height: 100%;
  width: 100%;
}
body {
  margin: 0;
  padding: 0;
  background-color: $background-color;
  max-width: 1920px;
  margin: auto;
  height: 100%;
  width: 100%;
}
