@use "src/assets/styles/theme" as *;

:host {
  width: 100%;
  height: 100%;
  background-color: $background-color;

  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: auto;
  .top-area {
    display: flex;
    justify-content: center;
    position: relative;
    height: 500px;
    min-height: 500px;
    max-height: 500px;

    .main-background {
      width: 100%;
      height: 100%;
      z-index: 0;
      background-image: url("/assets/images/home-page/main-image.jpg");

      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      filter: sepia(0.2) brightness(0.8) contrast(0.9);
    }

    .area-content {
      position: absolute;
      top: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .logo {
        transform: scale(0.6);
        filter: invert(1) drop-shadow(2px 2px 6px #222);
      }

      .menu {
        margin-top: 32px;
        ul {
          display: flex;
          list-style-type: none;
          padding-left: 0;
          gap: 32px;

          li {
            cursor: pointer;
            font-size: 24px;
            font-family: $title-font;
            color: $background-color;
          }
        }
      }
    }
  }

  .main-area {
    display: flex;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
  }
}
