<div class="top-area">
    <div class="main-background"></div>
    <div class="area-content">
        <img class="logo" src="/assets/images/logo.png" alt="logo">
        <nav class="menu">
            <ul>
                <li>Haljine</li>
                <li routerLink="/about">O Nama</li>
                <li routerLink="/contact">Kontakt</li>
            </ul>
        </nav>
    </div>
</div>
<div class="main-area">
    <div class="creator-cards-title">
        <h2>Odaberite brend koji bas vama odgovara</h2>
    </div>
    <luna-card-group [creatorCards]="creatorCards"></luna-card-group>
    <luna-content-card-group [cards]="contentCards"></luna-content-card-group>
</div>
<luna-page-footer></luna-page-footer>
