<div class="top-area">
    <div class="main-background"></div>
    <div class="area-content">
        <img class="logo" src="/assets/images/logo.png" alt="logo">
        <nav class="menu">
            <ul>
                <li>Haljine</li>
                <li>O Nama</li>
                <li>Kontakt</li>
            </ul>
        </nav>
    </div>
</div>
<div class="main-area">
    <luna-card-group [creatorCards]="creatorCards"></luna-card-group>
    <luna-content-card-group [cards]="contentCards"></luna-content-card-group>
</div>