@font-face {
    font-family: Handlee;
    src: url("/assets/fonts/Handlee.ttf") format("truetype");
}

@font-face {
    font-family: Petemoss;
    src: url("/assets/fonts/Petemoss.ttf") format("truetype");
}

@font-face {
    font-family: SortsMillGoudy;
    src: url("/assets/fonts/SortsMillGoudy.ttf") format("truetype");
}