@font-face {
  font-family: Handlee;
  src: url("/assets/fonts/Handlee.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: Petemoss;
  src: url("/assets/fonts/Petemoss.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: SortsMillGoudy;
  src: url("/assets/fonts/SortsMillGoudy.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: NotoSans;
  src: url("/assets/fonts/NotoSans.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: Courgette;
  src: url("/assets/fonts/Courgette.ttf") format("truetype");
  font-display: swap;
}
