$background-color: #fffaf6;

$text-font-size: 24px;
$text-color: #181818;
$text-font: "SortsMillGoudy";

$menu-font: "NotoSans", Helvetica, sans-serif;
$menu-accent-color: #ce7532;
$menu-font-size: 32px;
$menu-color: #585858;

$sub-menu-background: #fdf4ebee;

$title-font: "NotoSans", Helvetica, sans-serif;
$title-font-size: 56px;
$title-color: #322;

$background-line-color: #efdccd;

$scrollbar-line-color: #99887a;
