
$background-color: #FFFAF6;

$text-font-size: 16px; // 18px might be better
$text-color: #181818;
$text-font: 'SortsMillGoudy';

$menu-font: 'Handlee';
$menu-accent-color: #ce7532;
$menu-font-size: 32px;
$menu-color: #111;

$sub-menu-background: #ddd9d5ee;

$title-font: 'NotoSans';
$title-font-size: 56px;
$title-color: #181818;

$background-line-color: #efdccd;

$scrollbar-line-color: #dfccbd;