
$background-color: #FFFAF6;

$text-font-size: 16px; // 18px might be better
$text-color: #181818;
$text-font: 'SortsMillGoudy';

$menu-font: 'Handlee';
$menu-font-size: 32px;
$menu-color: #181818;

$title-font: 'Petemoss';
$title-font-size: 80px;
$title-color: #181818;