<app-la-sposa-template title="Kolekcija La Sposa" [galleryImages]="images" [cards]="cards">
    <p text3a>
        Miller described her Parisian training as "intense," but explained that it gave her training in fabric
        manipulation, which became a signature of her designs.[3]
    </p>
    <p text3b>
        Miller described her Parisian training as "intense," but explained that it gave her training in fabric
        manipulation, which became a signature of her designs.[3]
    </p>
</app-la-sposa-template>
<!-- <luna-phone-ribbon></luna-phone-ribbon> -->