<app-la-sposa-template title="Kolekcija La Sposa" [galleryImages]="images">

    <p text1>
        Miller attended the Rhode Island School of Design where she earned a BFA in Apparel Design.[1] She studied for a
        year at L'Ecole de la Chambre Syndicale de la Couture Parisienne[2] where she was trained to drape fabric and
        study the classical techniques of couture.[3] Miller described her Parisian training as "intense," but explained
        that it gave her training in fabric manipulation, which became a signature of her designs.[3]
    </p>

    <p text2>
        Miller described her Parisian training as "intense," but explained that it gave her training in fabric
        manipulation, which became a signature of her designs.[3]
    </p>

    <p text3a>
        Miller described her Parisian training as "intense," but explained that it gave her training in fabric
        manipulation, which became a signature of her designs.[3]
    </p>
    <p text3b>
        Miller described her Parisian training as "intense," but explained that it gave her training in fabric
        manipulation, which became a signature of her designs.[3]
    </p>
</app-la-sposa-template>
<!-- <luna-phone-ribbon></luna-phone-ribbon> -->