<app-la-sposa-template title="Kolekcija La Sposa">
    <img mainImage src="/assets/images/la-sposa/ls1.webp" tabindex="1" />
    <img mainImage src="/assets/images/la-sposa/ls2.jpg" tabindex="1" />
    <img rightImage src="/assets/images/la-sposa/ls3.webp" tabindex="1" />
    <img rightImage src="/assets/images/la-sposa/ls4.webp" tabindex="1" />
    <img rightImage src="/assets/images/la-sposa/ls5.webp" tabindex="1" />
    <img rightImage src="/assets/images/la-sposa/ls6.webp" tabindex="1" />
    <img rightImage src="/assets/images/la-sposa/ls7.webp" tabindex="1" />
    <img rightImage src="/assets/images/la-sposa/ls8.webp" tabindex="1" />

    <p text>
        Miller attended the Rhode Island School of Design where she earned a BFA in Apparel Design.[1] She studied for a
        year at L'Ecole de la Chambre Syndicale de la Couture Parisienne[2] where she was trained to drape fabric and
        study the classical techniques of couture.[3] Miller described her Parisian training as "intense," but explained
        that it gave her training in fabric manipulation, which became a signature of her designs.[3]
    </p>

    <p text>
        Miller attended the Rhode Island School of Design where she earned a BFA in Apparel Design.[1] She studied for a
        year at L'Ecole de la Chambre Syndicale de la Couture Parisienne[2] where she was trained to drape fabric and
        study the classical techniques of couture.[3] Miller described her Parisian training as "intense," but explained
        that it gave her training in fabric manipulation, which became a signature of her designs.[3]
    </p>
</app-la-sposa-template>